/*****************************
Declaración de colores
******************************/
$bg-color-btn: #e0b973;
$bg-color-footer: #14274a;

/*****************************
Declaración de Fuentes
******************************/
$font-principal: 'EB Garamond', serif;
$font-secundaria: 'Montserrat', sans-serif;
/*****************************
Declaración color de Fuentes
******************************/
$color-principal: #fff;
$color-secundario: #14274a;